cluster_subscription_id = "00000000-0000-0000-0000-000000000000"
location                = "northeurope"
cluster_name            = "lab"
vm_size                 = "Standard_D8ps_v5"
replicas                = 3
master_ignition_path    = "../../install/master.ign"
ssh_public_key_path     = "../../secrets/id_ed25519.pub"

tags = {
  project  = "ocp-lab"
  workload = "openshift-multus-poc"
  role     = "master"
}
