cluster_subscription_id       = "00000000-0000-0000-0000-000000000000"
dns_subscription_id           = "11111111-1111-1111-1111-111111111111"
location                      = "northeurope"
cluster_name                  = "lab"
base_domain                   = "ocp.example.com"
parent_dns_zone               = "example.com"
parent_dns_resource_group     = "rg-dns-public-example"
workload_resource_group_name  = "rg-ocp-lab"
vnet_name                     = "vnet-ocp-example"
vnet_resource_group           = "rg-network-example"

tags = {
  project  = "ocp-lab"
  owner    = "platform-team"
  workload = "openshift-multus-poc"
}
