cluster_subscription_id = "00000000-0000-0000-0000-000000000000"
location                = "northeurope"
cluster_name            = "lab"
vm_size                 = "Standard_D4ps_v5"
ssh_public_key_path     = "../../secrets/id_ed25519.pub"

# Written by scripts/upload-ignition.sh as bootstrap-ignition.auto.tfvars.json during normal use.
bootstrap_ignition_pointer = "{\"ignition\":{\"version\":\"3.2.0\",\"config\":{\"replace\":{\"source\":\"https://storageaccount.blob.core.windows.net/ignition/bootstrap.ign?<sas>\"}}}}"

tags = {
  project  = "ocp-lab"
  workload = "openshift-multus-poc"
  role     = "bootstrap"
}
