apiVersion: v1
baseDomain: __BASE_DOMAIN__
metadata:
  name: __CLUSTER_NAME__
controlPlane:
  name: master
  architecture: __ARCHITECTURE_OCP__
  hyperthreading: Enabled
  replicas: 3
  platform:
    azure:
      type: __CONTROL_PLANE_VM_SIZE__
      osDisk:
        diskSizeGB: 128
        diskType: Premium_LRS
compute:
  - name: worker
    architecture: __ARCHITECTURE_OCP__
    hyperthreading: Enabled
    replicas: 2
    platform:
      azure:
        type: __WORKER_VM_SIZE__
        osDisk:
          diskSizeGB: 128
          diskType: Premium_LRS
networking:
  clusterNetwork:
    - cidr: __CLUSTER_NETWORK_CIDR__
      hostPrefix: __CLUSTER_NETWORK_HOST_PREFIX__
  machineNetwork:
    - cidr: __MACHINE_NETWORK_CIDR__
  serviceNetwork:
    - __SERVICE_NETWORK_CIDR__
  networkType: OVNKubernetes
platform:
  azure:
    cloudName: AzurePublicCloud
    region: __LOCATION__
    baseDomainResourceGroupName: __DNS_RESOURCE_GROUP__
    networkResourceGroupName: __NETWORK_RESOURCE_GROUP__
    resourceGroupName: __WORKLOAD_RESOURCE_GROUP__
    virtualNetwork: __VIRTUAL_NETWORK__
    controlPlaneSubnet: __CONTROL_PLANE_SUBNET__
    computeSubnet: __COMPUTE_SUBNET__
    outboundType: UserDefinedRouting
publish: __PUBLISH__
# proxy:           # uncomment + fill if your egress path requires a proxy
#   httpProxy:  http://proxy.platform.example.com:8080
#   httpsProxy: http://proxy.platform.example.com:8080
#   noProxy:    .cluster.local,.svc,.__BASE_DOMAIN__,__MACHINE_NETWORK_CIDR__,__CLUSTER_NETWORK_CIDR__,__SERVICE_NETWORK_CIDR__,168.63.129.16
# additionalTrustBundle: |   # paste firewall TLS-inspection CA PEM here
#   -----BEGIN CERTIFICATE-----
#   ...
#   -----END CERTIFICATE-----
pullSecret: '__PULL_SECRET__'
sshKey: |
  __SSH_PUBLIC_KEY__
